<div class="graphic-inner component-inner">
  {{> component this}}
  <div class="graphic-widget component-widget{{#if _graphic.attribution}} graphic-widget-attribution{{/if}}">
    <img src="{{_graphic.src}}" data-large="{{_graphic.large}}" data-small="{{_graphic.small}}" aria-label="{{_graphic.alt}}" />
  </div>
  {{#if _graphic.attribution}}
  <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
  {{/if}}
</div>
