<div class="graphic-inner component-inner">
    {{> component this}}
    <div class="graphic-widget component-widget">
        <img src="{{graphic.src}}" alt="{{graphic.alt}}" title="{{graphic.title}}" data-large="{{graphic.large}}" data-medium="{{graphic.medium}}" data-small="{{graphic.small}}"/>
    </div>
</div>