<div class="graphic-inner component-inner" role="region" aria-label="{{_accessibility._ariaRegions.graphic}}">
    {{> component this}}
    <div class="graphic-widget component-widget">
        <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" data-large="{{_graphic.large}}" data-medium="{{_graphic.medium}}" data-small="{{_graphic.small}}"/>
    </div>
</div>