<div class="graphic-inner component-inner">
    {{> component this}}
    <div class="graphic-widget component-widget{{#if _showAttribution}} graphic-widget-attribution{{/if}}">
        <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" title="{{_graphic.title}}" data-large="{{_graphic.large}}" data-medium="{{_graphic.medium}}" data-small="{{_graphic.small}}"/>
    </div>
    {{#if _showAttribution}}
        <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
    {{/if}}    
</div>
