<div class="graphic-inner component-inner">
    {{#if title}}
    <div class="graphic-title component-title">
        <h4 class="graphic-title-inner component-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="graphic-body component-body">
        <div class="graphic-body-inner component-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    <div class="graphic-widget component-widget">
        <img src="{{graphic.src}}" alt="{{graphic.alt}}" title="{{graphic.title}}" data-large="{{graphic.large}}" data-medium="{{graphic.medium}}" data-small="{{graphic.small}}"/>
    </div>
</div>